<a href="https://colab.research.google.com/github/PabloDiosquez/Fundamentos_de_Programacion/blob/main/07_UBA_Secuencias_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Funciones que tenemos a disposición en la librería estándar de Python para manipular secuencias

Funciones sobre cadenas

In [ ]:
s = '123x4'
s.isdecimal()

s = '321'
s.isdecimal()

s = 'Hola'
s.lower()
s.upper()
s.center(10)

# Todas las funciones que operan sobre cadenas
# help(str)

'   Hola   '

Funciones sobre secuencias

In [ ]:
s = 'Estoy programando en Python'
print(len(s))
print(max(s))
print(min(s))
print(help(max))

numeros = [1,2,23,4]
sum(numeros)

27
y

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

None

30

Funciones sobre secuencias

In [ ]:
# str<???> --> str
str([1,2,3])

s = 'Hola'
# tuple<secuencia> --> tupla
tuple(s)

# list<secuencia> --> lista
list(s)

x = range(10)
type(x)
list(x)

# Lista de los números pares desde el 0 hasta el 100
pares = list(range(0,102,2))
print(pares,sep=' ')

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

Desempaquetar

In [ ]:
L = ['Hola', 8, True]
x, y, z = L[0],L[1],L[2]

print(x)
print(y)
print(z)

def f():
  return 1,2,3

x = f()
type(x)
x # Con las tuplas los paréntesis son opcionales

x,y,z = f()
x
y
z

Hola
8
True

3

In [ ]:
def intercambiar(a,b):
  aux = a
  a = b
  b = aux
  return a,b

x,y = 1,12
print('x:',x)
print('y:',y)
# En Python... armo una tupla y la desempaqueto en la misma línea
x, y = y, x
print('Luego del intercambio...')
print('x:',x)
print('y:',y)

x: 1
y: 12
Luego del intercambio...
x: 12
y: 1

In [ ]:
dias = ["Lunes", "Martes", "Miércoles", "Jueves", "Viernes"]
# enumerate(dias)
list(enumerate(dias)) # Devuelve una lista de tuplas

def enumerar_items(secuencia):
  # for tupla in enumerate(secuencia):
  #   i,e = tupla
  #   print(f'{i+1}. {e}')
  for i,e in enumerate(secuencia):
    print(f'{i+1}. {e}')

enumerar_items(dias)

1. Lunes
2. Martes
3. Miércoles
4. Jueves
5. Viernes

In [ ]:
# ¿Dónde está tal elemento?
dias.index('Martes')
'Hola que tal'.index('u')
# Casos borde
# [1,2,3].index('4') -> ValueError: '4' is not in list
[1,2,3,4,5,6,7,3,2,4,5,6,7,8,9,1,2,3,4].index(4) # Me devuelve la primer aparición del elemento

# ¿Cómo sé si está o no?
# <elemento> in <secuencia>
'Martes' in dias
12 in [1,2,3,4]
12 not in [1,2,3,4]

True

split y join

In [ ]:
fecha = '30-12-2020'

partes = fecha.split('-')

'/'.join(partes)

help(str.join)

'.'.join(['12','34','56'])

Help on method_descriptor:

join(self, iterable, /)
    Concatenate any number of strings.

    The string whose method is called is inserted in between each given string.
    The result is returned as a new string.

    Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'

'12.34.56'

Funciones para mutar listas

In [ ]:
super = ['mermelada','yerba','azúcar','caballa','mate']
# list.append()
super.append('atún')

# list.insert(índice,elemento)
super.insert(3,'gaseosa')
super.insert(0,'pan')

# list.remove(elemento)
super.remove('mate')
#super.remove('caramelos') --> ValueError: list.remove(x): x not in list
super.append('pan')
super.remove('pan') # Quita la primer aparición del elemento

# list.pop([índice])
super.pop(2)
super.pop() # Quita el elemento ubicado en la última posición de la lista
super

['mermelada', 'yerba', 'gaseosa', 'caballa', 'atún']

Igualdad != Identidad (Operador is)

In [ ]:
L = [1,2,3]

L2 = L
L2 == L
L2 is L # ¿Son la misma lista?

L3 = L[:] # L3 apunta a una copia de la lista L (un slice devuelve una copia)
L3 == L
L3 is L

L4 = L.copy()
L4 == L
L4 is L

False

Algunas consecuencias de la mutabilidad

In [ ]:
def f(x):
  print(x)
  x = 8
  print(x)

x = 3
f(x)
print(x)

def g(L):
  print(L)
  L.append(8)
  print(L)

L = [1,2,3]
g(L)
print(L)

def h(L):
  print(L)
  L = L + [8] # Concatena las dos listas en una nueva lista
  print(L)

L = [1,2,3]
h(L)
print(L)

3
8
3
[1, 2, 3]
[1, 2, 3, 8]
[1, 2, 3, 8]
[1, 2, 3]
[1, 2, 3, 8]
[1, 2, 3]

Funciones para ordenar

In [ ]:
L = [1,2,3,3,6,7,5,4,5,6,7,8,9,3,2,1,2,3,4,0]

sorted(L) # Recibe una secuencia y me devuelve una lista ordenada. No modifica la lista original (Devuelve una nueva lista ordenada)

L.sort() # No devuelve nada. Muta la lista original.
L

[0, 1, 1, 2, 2, 2, 3, 3, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 9]