<a href="https://colab.research.google.com/github/PabloDiosquez/Fundamentos_de_Programacion/blob/main/ProjectEuler.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3,5,6 and 9. The sum of these multiples is 23. 

Find the sum of all multiples of 3 or 5 below 1000.

In [ ]:
def sum_of_multiples_below(x):
  sum = 0
  for i in range(x):
    if (not i % 3) or (not i % 5):
      sum += i
  
  return sum

sum_of_multiples_below(1000)

233168

Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.

In [ ]:
def fibo(limit):
  first  = 1
  second = 2
  sum = 0
  while second < limit:
    if second % 2 == 0:
      sum += second
    
    next = first + second
    first = second
    second = next
  
  return sum 

fibo(4000000)

4613732

The prime factors of 13195 are 5, 7, 13 and 29.

What is the largest prime factor of the number 600851475143 ?

In [ ]:
# from sympy import primefactors

# print(primefactors(600851475143))

def is_prime(n):
  d = 2
  while (n % d != 0) and (d <= n//2):
    d += 1
  
  if (n > 1) and (d > n//2):
    return True
  return False

def factors(n):
  factors = []
  div = 2
  while n > 1:
    if n % div == 0:
      factors.append(div)
      n = n // div
    div += 1
  return factors

max(list(filter(is_prime,[71, 839, 1471, 6857])))

6857

2520 is the smallest number that can be divided by each of the numbers from 1 to 10 without any remainder.

What is the smallest positive number that is evenly divisible by all of the numbers from 1 to 20?

In [ ]:
# Consider the number üëâüèº num = 2*3*5*7*11*13*17*19
num = 2*3*5*7*11*13*17*19
# Let's see if this number is divisible by 4 ‚ùì.
print(num % 4 == 0)
# So, we add a 2 to the product ‚úåüèº
num = 2*2*3*5*7*11*13*17*19
# Now it's divisible by 4 ü§°
print(num % 4 == 0)
# Clearly it is divisible by 6 (being divisible by 2 and by 3).
# Is it divisible by 8? ‚ùå
print(num % 8 == 0)
num = 2*2*2*3*5*7*11*13*17*19
# Let's see if it is divisible by 9
print(num % 9 == 0)
# We repeat the above...
num = 2*2*2*3*3*5*7*11*13*17*19
# It is clearly divisible by 10 (being divisible by 2 and by 5), by 12 (being divisible by 3 and by 4) and by 14 (being divisible by 2 and by 7).
# Is it divisible by 16? ‚ùå
print(num % 16 == 0)
# We repeat the above...
num = 2*2*2*2*3*3*5*7*11*13*17*19
# It is also divisible by 15 (being divisible by 3 and by 5) and by 18 (being divisible by 2 and by 9).
# Is it divisible by 20 ‚ùì Yes! Since it is divisible by 2 and by 10 ü•≥.
print(f'So, the smallest positive number that is evenly divisible by all of the numbers from 1 to 20 is {num}')

False
True
False
False
False
So, the smallest positive number that is evenly divisible by all of the numbers from 1 to 20 is 232792560

The sum of the squares of the first ten natural numbers is,

    1^2 + 2^2 + ... + 10^2 = 385

The square of the sum of the first ten natural numbers is,

    (1 + 2 + ... + 10)^2 = 3025

Hence the difference between the sum of the squares of the first ten natural numbers and the square of the sum is 

    3025 - 385 = 2640

Find the difference between the sum of the squares of the first one hundred natural numbers and the square of the sum.

In [ ]:
def sum(n):
  if n == 0: return 0
  return sum(n-1) + n

def sum_of_the_squares(n):
  if n == 0: return 0
  return sum_of_the_squares(n-1) + n**2

def difference(n):
  return sum(n)**2 - sum_of_the_squares(n)

difference(100)

25164150

By listing the first six prime numbers: 2, 3, 5, 7, 11, and 13, we can see that the 6th prime is 13.

What is the 10 001st prime number?

In [ ]:
def es_primo(numero):
  divisor = 2
  while (numero % divisor != 0) and (divisor <= numero//2):
    divisor += 1
  if (numero > 1) and (divisor > numero//2):
    return True
  return False

# def menor_primo_desde(desde):
#   if es_primo(desde): return desde
#   return menor_primo_desde(desde+1)

# def enesimo_primo(n):
#   if n == 1: return 2
#   return menor_primo_desde(enesimo_primo(n-1) + 1)

# enesimo_primo(10001)

def enesimo_primo(n):
  contador = 1
  sapito = 1
  if n == 1: return 2
  else:
    while contador < n:
      if es_primo(sapito):
        primo = sapito
        contador += 1
      sapito +=2
    
  return primo


enesimo_primo(10001)
# enesimo_primo(100)

104743

A Pythagorean triplet is a set of three natural numbers, a < b < c, for which,

a^2 + b^2 = c^2
For example, 32 + 42 = 9 + 16 = 25 = 52.

There exists exactly one Pythagorean triplet for which a + b + c = 1000.
Find the product abc.

In [2]:
def pita():
  for a in range(1,1001):
    for b in range(1,1001):
      if 2*a*b - 2000*(a+b) + 1000**2 == 0:
        print(a,b)

print(pita())
a = 200
b = 375
c = 1000 - a - b
print(a*b*c)

200 375
375 200
None
31875000